<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Prodotto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='add_product.css') }}">
</head>
<body>
    <h1 style="text-align:center;">➕ Aggiungi Prodotto</h1>
    <form method="POST">
        <label for="asin">ASIN</label>
        <input type="text" name="asin" required>

        <label for="title">Titolo</label>
        <input type="text" name="title" required>

        <button type="submit">Salva Prodotto</button>
    </form>
    <a href="{{ url_for('dashboard') }}">⬅️ Torna alla lista</a>
</body>
</html>
